.footer {
    background: linear-gradient(to right, #cf0808, #c50000, #da0404);
    a {
      color: #ffffff;
      &:hover {
        text-decoration: underline;
      }
    }
  
    h6 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  
    li {
      margin-bottom: 0.5rem;
    }
  
    .bi {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
  